version: "3.8"

services:
  kestra:
    image: kestra/kestra:latest
    container_name: kestra
    command: server local --plugins /app/plugins # <--- THIS IS WHAT WAS MISSING
    restart: always
    ports:
      - "8080:8080"
    environment:
      KESTRA_CONFIGURATION: |
        kestra:
          server:
            basic-auth:
              enabled: false
          queue:
            type: memory
          repository:
            type: memory
          storage:
            type: local
            base-path: /app/storage
    volumes:
      - kestra_data:/app/storage
      - ./flows:/app/flows

volumes:
  kestra_data: